// Default button color
$default-border-color: #e6eaed;
$default-btn-hover-color: #ffffff;

// Default nav color
$default-nav-color: #cbc5c5;

// Colors
$dark: rgb(31, 30, 30);
$red: rgb(212, 57, 57);
$green: rgb(66, 209, 90);
$blue: rgb(17, 125, 207);
$purple: rgb(96, 57, 214);
$orange: rgb(214, 143, 57);
$yellow: rgb(214, 214, 57);

// Hover colors
$hover-dark: rgb(45, 44, 44);
$hover-red: rgb(224, 72, 72);
$hover-green: rgb(93, 231, 116);
$hover-blue: rgb(70, 132, 199);
$hover-purple: rgb(113, 74, 231);
$hover-orange: rgb(221, 158, 80);
$hover-yellow: rgb(235, 235, 86);

body {
    background-color: rgb(66, 64, 64);
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
}

// Default nav
.nav {
    background-color: $dark;
    padding: 1.25rem;
    align-items: center;
    // width: 100%;
}     
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none; 
}
.nav-right-area {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
} 
.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: $default-border-color;
    margin-right: 3rem;
    transition: 0.2s;
} 
.nav-link:hover {
    color: $default-btn-hover-color;
}    
.nav-input {
    padding: 10px;
    border: none;
    outline: 0;
}    
 
// Nav link active colors
.nav-link-active {
    border-bottom: solid 4px $default-border-color;
} 
.nav-link-active-dark {
    border-bottom: solid 4px $dark;
}    
.nav-link-active-red {
    border-bottom: solid 4px $red;
}
.nav-link-active-green {
    border-bottom: solid 4px $green;
}
.nav-link-active-blue {
    border-bottom: solid 4px $blue;
}
.nav-link-active-purple {
    border-bottom: solid 4px $purple;
}  
.nav-link-active-orange {
    border-bottom: solid 4px $orange;
}  
.nav-link-active-yellow {
    border-bottom: solid 4px $yellow;
} 

.input, .nav-input {
    font-weight: 400;
    color: $default-border-color;
    vertical-align: middle;
    font-size: 1rem;
    color: $dark;
}
.input {
    border: solid 3px $default-btn-hover-color;
}
 
// Default button/dark button
.keen-btn, .keen-btn-dark {
    display: inline-block; 
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid $default-border-color;
    padding: .35rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: 0.2s;
}
.keen-btn {
    color: $default-border-color;
}
.keen-btn:hover {
    color: $default-btn-hover-color;
    box-shadow: 4px 4px;
    transform: skewX(2deg);
}
.keen-btn-dark {
    color: $dark;
}
.keen-btn-dark:hover {
    color: $hover-dark;
    box-shadow: 4px 4px $default-btn-hover-color;
    transform: skewX(2deg);
} 
.keen-btn:focus, .input:focus, .form-input {
    outline: 0;
}
// .keen-btn:focus {
// } 
.form { 
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.form-input {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
}
// Transparent button color classes
.btn-dark {
    border-color: $dark;
}
.btn-dark:hover {
    border-color: $hover-dark;
    box-shadow: 4px 4px $hover-dark;
} 
.btn-red {
    border-color: $red;
}
.btn-red:hover {
    border-color: $hover-red;
    box-shadow: 4px 4px $hover-red;
}
.btn-green {
    border-color: $green;
}
.btn-green:hover {
    border-color: $hover-green;
    box-shadow: 4px 4px $hover-green;
}
.btn-blue {
    border-color: $blue;
}
.btn-blue:hover {
    border-color: $hover-blue;
    box-shadow: 4px 4px $hover-blue;
}
.btn-purple {
    border-color: $purple;
}
.btn-purple:hover {
    border-color: $hover-purple;
    box-shadow: 4px 4px $hover-purple;
}
.btn-orange {
    border-color: $orange;
}
.btn-orange:hover {
    border-color: $hover-orange;
    box-shadow: 4px 4px $hover-orange;
}
.btn-yellow {
    border-color: $yellow;
}
.btn-yellow:hover {
    border-color: $hover-yellow;
    box-shadow: 4px 4px $hover-yellow;
}

// Solid background color classes
.bg-light {
    background-color: $default-border-color;
}
.bg-dark {
    background-color: $dark;
}
.bg-red {
    background-color: $red;
}
.bg-green {
    background-color: $green; 
}
.bg-blue {
    background-color: $blue;
}
.bg-purple {
    background-color: $purple;
}
.bg-orange {
    background-color: $orange;
}
.bg-yellow {
    background-color: $yellow;
}

// Font color classes
.txt-light {
    color: $default-border-color;
}
.txt-dark {
    color: $dark;
}
.txt-red {
    color: $red;
}
.txt-green {
    color: $green; 
}
.txt-blue {
    color: $blue;
}
.txt-purple {
    color: $purple;
}
.txt-orange {
    color: $orange;
}
.txt-yellow {
    color: $yellow;
}

// Paddings NEED FINISHING
.pad-5 {
    padding: 3rem;
}
.pad-4 {
    padding: 3rem;
}
.pad-3 {
    padding: 3rem;
}
.pad-2 {
    padding: 3rem;
}
.pad-1 {
    padding: 3rem;
}

// Margins NEED FINISHING
.mar-5 {
    margin: 2rem;
}
.mar-4 {
    margin: 1.75rem;
}
.mar-3 {
    margin: 1.5rem;
}
.mar-2 {
    margin: 1rem;
}
.mar-1 {
    margin: .5rem;
} 

.mar-t-5 {
    margin-top: 2rem;
}
.mar-t-4 {
    margin-top: 1.75rem;
}
.mar-t-3 {
    margin-top: 1.5rem;
}
.mar-t-2 {
    margin-top: 1rem;
}
.mar-t-1 {
    margin-top: .5rem;
}

.mar-b-5 {
    margin-bottom: 2rem;
}
.mar-b-4 {
    margin-bottom: 1.75rem;
}
.mar-b-3 {
    margin-bottom: 1.5rem;
}
.mar-b-2 {
    margin-bottom: 1rem;
}
.mar-b-1 {
    margin-bottom: .5rem;
}

.mar-r-5 {
    margin-right: 2rem;
}
.mar-r-4 {
    margin-right: 1.75rem;
}
.mar-r-3 {
    margin-right: 1.5rem;
}
.mar-r-2 {
    margin-right: 1rem;
}
.mar-r-1 {
    margin-right: .5rem;
}

.mar-l-5 {
    margin-left: 2rem;
}
.mar-l-4 { 
    margin-left: 1.75rem;
}
.mar-l-3 {
    margin-left: 1.5rem;
}
.mar-l-2 {
    margin-left: 1rem;
}
.mar-l-1 {
    margin-left: .5rem;
}

.mar-auto {
    margin: auto;
}

.txt-center {
    align-items: center;
} 
.rounded-max {
    border-radius: 3rem;
} 
.rounded-med {
    border-radius: .75rem;
} 
.rounded-min {
    border-radius: .25rem;
} 

// Borders
.border {
    border: 2px solid $default-border-color;
}
.border-b {
    border-bottom: solid 2px $default-border-color;
} 
.border-b-dark {
    border-bottom: solid 2px $dark;
}    
.border-b-red {
    border-bottom: solid 2px $red;
}
.border-b-green {
    border-bottom: solid 2px $green;
}
.border-b-blue {
    border-bottom: solid 2px $blue;
}
.border-b-purple {
    border-bottom: solid 2px $purple;
}  
.border-b-orange {
    border-bottom: solid 2px $orange;
}  
.border-b-yellow {
    border-bottom: solid 2px $yellow;
} 