body {
  background-color: #424040;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

.nav {
  background-color: #1f1e1e;
  padding: 1.5rem;
  width: 100vmax;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  color: #e6eaed;
  margin-right: 3rem;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link-active {
  border-bottom: solid 4px #e6eaed;
}

.nav-link-active-dark {
  border-bottom: solid 4px #1f1e1e;
}

.nav-link-active-red {
  border-bottom: solid 4px #d43939;
}

.nav-link-active-green {
  border-bottom: solid 4px #42d15a;
}

.nav-link-active-blue {
  border-bottom: solid 4px #117dcf;
}

.nav-link-active-purple {
  border-bottom: solid 4px #6039d6;
}

.nav-link-active-orange {
  border-bottom: solid 4px #d68f39;
}

.nav-link-active-yellow {
  border-bottom: solid 4px #d6d639;
}

.keen-btn {
  display: inline-block;
  font-weight: 400;
  color: #e6eaed;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #e6eaed;
  padding: 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.keen-btn:hover {
  border-color: #ffffff;
  color: #ffffff;
  -webkit-box-shadow: 4px 4px;
          box-shadow: 4px 4px;
}

.keen-btn:focus {
  outline: 0;
}

.btn-dark {
  border-color: #1f1e1e;
}

.btn-dark:hover {
  border-color: #2d2c2c;
  -webkit-box-shadow: 4px 4px #2d2c2c;
          box-shadow: 4px 4px #2d2c2c;
}

.btn-red {
  border-color: #d43939;
}

.btn-red:hover {
  border-color: #e04848;
  -webkit-box-shadow: 4px 4px #e04848;
          box-shadow: 4px 4px #e04848;
}

.btn-green {
  border-color: #42d15a;
}

.btn-green:hover {
  border-color: #5de774;
  -webkit-box-shadow: 4px 4px #5de774;
          box-shadow: 4px 4px #5de774;
}

.btn-blue {
  border-color: #117dcf;
}

.btn-blue:hover {
  border-color: #4684c7;
  -webkit-box-shadow: 4px 4px #4684c7;
          box-shadow: 4px 4px #4684c7;
}

.btn-purple {
  border-color: #6039d6;
}

.btn-purple:hover {
  border-color: #714ae7;
  -webkit-box-shadow: 4px 4px #714ae7;
          box-shadow: 4px 4px #714ae7;
}

.btn-orange {
  border-color: #d68f39;
}

.btn-orange:hover {
  border-color: #dd9e50;
  -webkit-box-shadow: 4px 4px #dd9e50;
          box-shadow: 4px 4px #dd9e50;
}

.btn-yellow {
  border-color: #d6d639;
}

.btn-yellow:hover {
  border-color: #ebeb56;
  -webkit-box-shadow: 4px 4px #ebeb56;
          box-shadow: 4px 4px #ebeb56;
}

.bg-light {
  background-color: #e6eaed;
}

.bg-dark {
  background-color: #1f1e1e;
}

.bg-red {
  background-color: #d43939;
}

.bg-green {
  background-color: #42d15a;
}

.bg-blue {
  background-color: #117dcf;
}

.bg-purple {
  background-color: #6039d6;
}

.bg-orange {
  background-color: #d68f39;
}

.bg-yellow {
  background-color: #d6d639;
}

.pad-5 {
  padding: 3rem;
}

.pad-4 {
  padding: 3rem;
}

.pad-3 {
  padding: 3rem;
}

.pad-2 {
  padding: 3rem;
}

.pad-1 {
  padding: 3rem;
}

.mar-5 {
  margin: 2rem;
}

.mar-4 {
  margin: 2rem;
}

.mar-3 {
  margin: 2rem;
}

.mar-2 {
  margin: 2rem;
}

.mar-1 {
  margin: 2rem;
}

.mar-t-5 {
  margin-top: 2rem;
}

.mar-t-4 {
  margin-top: 2rem;
}

.mar-t-3 {
  margin-top: 2rem;
}

.mar-t-2 {
  margin-top: 2rem;
}

.mar-t-1 {
  margin-top: 2rem;
}

.mar-auto {
  margin: auto;
}

.txt-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-max {
  border-radius: 3rem;
}

.rounded-med {
  border-radius: 0.75rem;
}

.rounded-min {
  border-radius: 0.25rem;
}

.border {
  border: 2px solid #e6eaed;
}

.border-b {
  border-bottom: solid 2px #e6eaed;
}

.border-b-dark {
  border-bottom: solid 2px #1f1e1e;
}

.border-b-red {
  border-bottom: solid 2px #d43939;
}

.border-b-green {
  border-bottom: solid 2px #42d15a;
}

.border-b-blue {
  border-bottom: solid 2px #117dcf;
}

.border-b-purple {
  border-bottom: solid 2px #6039d6;
}

.border-b-orange {
  border-bottom: solid 2px #d68f39;
}

.border-b-yellow {
  border-bottom: solid 2px #d6d639;
}
/*# sourceMappingURL=keen.css.map */