// Default button color
$default-border-color: #e6eaed;
$default-btn-hover-color: #ffffff;

// Default nav color
$default-nav-color: #cbc5c5;

// Colors
$dark: rgb(31, 30, 30);
$red: rgb(212, 57, 57);
$green: rgb(66, 209, 90);
$blue: rgb(17, 125, 207);
$purple: rgb(96, 57, 214);
$orange: rgb(214, 143, 57);
$yellow: rgb(214, 214, 57);

// Hover colors
$hover-dark: rgb(45, 44, 44);
$hover-red: rgb(224, 72, 72);
$hover-green: rgb(93, 231, 116);
$hover-blue: rgb(70, 132, 199);
$hover-purple: rgb(113, 74, 231);
$hover-orange: rgb(221, 158, 80);
$hover-yellow: rgb(235, 235, 86);

body {
    background-color: rgb(66, 64, 64);
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
}

// Default nav
.nav {
    background-color: $dark;
    padding: 1.5rem;
}   
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    color: $default-border-color;
    margin-right: 3rem;
} 
.nav-link:hover {
    color: $default-btn-hover-color;
}

// Nav link active colors
.nav-link-active {
    border-bottom: solid 4px $default-border-color;
} 
.nav-link-active-dark {
    border-bottom: solid 4px $dark;
}    
.nav-link-active-red {
    border-bottom: solid 4px $red;
}
.nav-link-active-green {
    border-bottom: solid 4px $green;
}
.nav-link-active-blue {
    border-bottom: solid 4px $blue;
}
.nav-link-active-purple {
    border-bottom: solid 4px $purple;
}  
.nav-link-active-orange {
    border-bottom: solid 4px $orange;
}  
.nav-link-active-yellow {
    border-bottom: solid 4px $yellow;
}      

// Default button
.keen-btn {
    display: inline-block;
    font-weight: 400;
    color: $default-border-color;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid $default-border-color;
    padding: .6rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: 0.2s;
}
.keen-btn:hover {
    border-color: $default-btn-hover-color;
    color: $default-btn-hover-color;
    box-shadow: 4px 4px;
}
.keen-btn:focus {
    outline: 0;
}

// Transparent button color classes
.btn-dark {
    border-color: $dark;
}
.btn-dark:hover {
    border-color: $hover-dark;
    box-shadow: 4px 4px $hover-dark;
} 
.btn-red {
    border-color: $red;
}
.btn-red:hover {
    border-color: $hover-red;
    box-shadow: 4px 4px $hover-red;
}
.btn-green {
    border-color: $green;
}
.btn-green:hover {
    border-color: $hover-green;
    box-shadow: 4px 4px $hover-green;
}
.btn-blue {
    border-color: $blue;
}
.btn-blue:hover {
    border-color: $hover-blue;
    box-shadow: 4px 4px $hover-blue;
}
.btn-purple {
    border-color: $purple;
}
.btn-purple:hover {
    border-color: $hover-purple;
    box-shadow: 4px 4px $hover-purple;
}
.btn-orange {
    border-color: $orange;
}
.btn-orange:hover {
    border-color: $hover-orange;
    box-shadow: 4px 4px $hover-orange;
}
.btn-yellow {
    border-color: $yellow;
}
.btn-yellow:hover {
    border-color: $hover-yellow;
    box-shadow: 4px 4px $hover-yellow;
}

// Solid background color classes
.bg-light {
    background-color: $default-border-color;
}
.bg-dark {
    background-color: $dark;
}
.bg-red {
    background-color: $red;
}
.bg-green {
    background-color: $green; 
}
.bg-blue {
    background-color: $blue;
}
.bg-purple {
    background-color: $purple;
}
.bg-orange {
    background-color: $orange;
}
.bg-yellow {
    background-color: $yellow;
}

// Paddings NEED FINISHING
.pad-5 {
    padding: 3rem;
}
.pad-4 {
    padding: 3rem;
}
.pad-3 {
    padding: 3rem;
}
.pad-2 {
    padding: 3rem;
}
.pad-1 {
    padding: 3rem;
}

// Margins NEED FINISHING
.mar-5 {
    margin: 2rem;
}
.mar-4 {
    margin: 2rem;
}
.mar-3 {
    margin: 2rem;
}
.mar-2 {
    margin: 2rem;
}
.mar-1 {
    margin: 2rem;
}
.mar-t-5 {
    margin-top: 2rem;
}
.mar-t-4 {
    margin-top: 2rem;
}
.mar-t-3 {
    margin-top: 2rem;
}
.mar-t-2 {
    margin-top: 2rem;
}
.mar-t-1 {
    margin-top: 2rem;
}
.mar-auto {
    margin: auto;
}

.txt-center {
    align-items: center;
} 
.border {
    border: 1px solid $default-border-color;
}
.rounded-max {
    border-radius: 3rem;
} 
.rounded-med {
    border-radius: .75rem;
} 
.rounded-min {
    border-radius: .25rem;
} 
